body {
  background-color:cornsilk;
}
h1 {
  color: coral;
}

h2 {
  color: lightpink;
}

h2 {
  color: lightpink;
}
h3{color: lightpink;
}

p {
  color: lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}