body {
  background:indianred;
}
h1 {
  color: darkred;
}

h2 {
  color: firebrick;
}

h2 {
  color: firebrick;
}
h3{color: firebrick;
}

p {
  color:lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}