body {
  background: plum;
}
h1 {
  color: darkorchid;
}

h2 {
  color: mediumorchid;
}

h2 {
  color: mediumorchid;
}
h3{color: mediumorchid;
}

p {
  color: lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}