body {
  background-color:lavenderblush;
}
h1 {
  color: salmon;
}

h2 {
  color: lightpink;
}

h2 {
  color: lightpink;
}

p {
  color: lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}