body {
  background:steelblue;
}
h1 {
  color: midnightblue;
}

h2 {
  color: navy;
}

h2 {
  color: navy;
}
h3{color: navy;
}

p {
  color:lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}