body {
  background-color:mintcream;
}
h1 {
  color: mediumseagreen;
}

h2 {
  color: darkseagreen;
}

h2 {
  color: darkseagreen;
}
h3{color: darkseagreen;
}

p {
  color: lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}