body {
  background:paleturquoise;
}
h1 {
  color: darkturquoise;
}

h2 {
  color: mediumturquoise;
}

h2 {
  color: mediumturquoise;
}
h3{color: mediumturquoise;
}

p {
  color:lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}