body {
  background:sandybrown;
}
h1 {
  color: darkorange;
}

h2 {
  color: lightsalmon;
}

h2 {
  color: lightsalmon;
}
h3{color: lightsalmon;
}

p {
  color:lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}