body {
  background:aliceblue;
}
h1 {
  color: SkyBlue;
}

h2 {
  color: lightblue;
}

h2 {
  color: lightblue;
}
h3{color: lightblue;
}

p {
  color: lightslategray;
}

div{
	background-color: seashell;
	color: gray;
}